extends layout

block content
  #wrapper
    #layout-static
      .static-content-wrapper
        .col-md-12
          .page-content
            .row
              .col-xs-12.col-sm-12.col-md-8.col-lg-16.col-lg-offset-20
                a .:.
            .row
              .col-xs-12.col-sm-12.col-md-8.col-lg-16.col-lg-offset-20
                .panel.panel-transparent
                  .panel-heading
                    h2 
                      code #{error}
                    .options
                      ul.nav.nav-tabs
                        li.active
                          a(href='#domwell', data-toggle='tab')
                            i.fa.fa-desktop
                        li
                          a(href='#codewell', data-toggle='tab')
                            i.fa.fa-code
                  .panel-body
                    p
                      code #{error}
                    p
                      | Error Code :
                      code #{error.status}
                      //- code well-lg
                    .tab-content
                        #domwell.tab-pane.active
                          //- .well.well-sm.tooltips(data-trigger='hover', data-original-title='.well.well-sm')
                          //-   | #{error.stack}
                          .well.tooltips(data-trigger='hover', data-original-title='.well', style='font-size: 11')
                            | #{error.stack}
                          //- .well.well-lg.tooltips(data-trigger='hover', data-original-title='.well.well-lg')
                          //-   | #{error.stack}
                        #codewell.tab-pane
                          //- pre.prettyprint.linenums.
                          //-   \n<div class="well well-sm">#{error.stack}</div>
                          pre.prettyprint.linenums(style='font-size: 11')
                            <div class="well">#{error.stack}</div>
                          //- pre.prettyprint.linenums.
                          //-   \n<div class="well well-lg">#{error.stack}</div>  
